@{
    ViewData["Title"] = "Gerenciador";
}

<div class="container">
    <div class="row text-center">
        <div class="col-lg-12">
            <h1>Bem vindo ao Gerenciador!</h1>
        </div>
    </div>

</div>
