@model TS.DTO.Classes.Cliente
@{
    ViewData["Title"] = "Clientes Cadastrados";
    Layout = "_LayoutAdm";
}

<div class="container">
    <h1 class="text-center">Alterar Clientes</h1>
    <div class="row" style="padding-top: 10%">
        <div class="col-lg-12">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group-lg">
                <form asp-action="Edit" class="text-center">
                    <div class="col-lg-6">
                        <label asp-for="Nome"></label>
                        <input asp-for="Nome" class="form-control" />
                    </div>

                    <div class="col-lg-6">
                        <label asp-for="Rg"></label>
                        <input asp-for="Rg" class="form-control" />

                    </div>

                    <div class="col-lg-6">
                        <label asp-for="Cpf"></label>
                        <input asp-for="Cpf" class="form-control" />

                    </div>

                    <div class="col-lg-6">
                        <label asp-for="Endereco"></label>
                        <input asp-for="Endereco" class="form-control" />

                    </div>

                    <div class="col-lg-6">
                        <label asp-for="Telefone"></label>
                        <input asp-for="Telefone" class="form-control" />

                    </div>

                    <div class="col-lg-6">
                        <label asp-for="Celular"></label>
                        <input asp-for="Celular" class="form-control" />
                    </div>

                    <div class="col-lg-6">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />

                    </div>

                    <input type="submit" value="Alterar" class="btn btn-primary" />
                </form>

            </div>

        </div>
    </div>

</div>

